<div class="log-viewer-container">
      <p-table 
        #logTable
        [value]="displayData()"
        [columns]="visibleColumns()"
        [loading]="isLoading()"
        [scrollable]="true"
        scrollHeight="flex"
        [virtualScroll]="true"
        [virtualScrollItemSize]="50"
        styleClass="p-datatable-sm log-viewer-table"
        [rowTrackBy]="trackByRowId"
        (onRowSelect)="handleRowClick($event.data)"
        selectionMode="single">
        
        <!-- Dynamic column templates -->
        @for (col of visibleColumns(); track col.id) {
          <p-column 
            [field]="col.field" 
            [header]="col.displayName"
            [sortable]="col.sortable !== false"
            [style]="getColumnStyle(col)"
            [headerStyle]="getColumnHeaderStyle(col)">
            
            <ng-template pTemplate="body" let-rowData let-ri="rowIndex">
              <div 
                class="cell-content"
                [class.clickable-cell]="!!col.onClick"
                [class.has-click-action]="!!col.onClick"
                [title]="col.onClick ? getClickTooltip(col.onClick.action) : ''"
                (click)="handleCellClick($event, col, rowData, getCellValue(rowData, col.field))">
                
                <!-- Standard cell content -->
                @if (!col.onClick) {
                  <span [innerHTML]="formatCellValue(getCellValue(rowData, col.field), col)"></span>
                } @else {
                  <!-- Clickable cell content with indicator -->
                  <div class="clickable-cell-wrapper">
                    <span [innerHTML]="formatCellValue(getCellValue(rowData, col.field), col)"></span>
                    <i class="pi pi-external-link clickable-icon" 
                       [title]="getClickTooltip(col.onClick.action)"></i>
                  </div>
                }
              </div>
            </ng-template>
          </p-column>
        }

        <!-- Empty state -->
        <ng-template pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="visibleColumns().length" class="text-center p-4">
              <div class="empty-state">
                <i class="pi pi-search text-4xl text-400 mb-3"></i>
                <p class="text-600">No log entries found</p>
              </div>
            </td>
          </tr>
        </ng-template>

        <!-- Loading template -->
        <ng-template pTemplate="loadingbody">
          @for (i of loadingArray; track $index) {
            <tr>
              @for (col of visibleColumns(); track col.id) {
                <td>
                  <div class="loading-cell">
                    <div class="loading-placeholder"></div>
                  </div>
                </td>
              }
            </tr>
          }
        </ng-template>
      </p-table>
    </div>