<p-toolbar styleClass="streaming-toolbar">
  <div class="p-toolbar-group-left">
    <app-streaming-filter
      [availableFilterValues]="availableFilterValues"
      [appliedFilters]="appliedFilters"
      (filtersChange)="filtersChange.emit($event)">
    </app-streaming-filter>
  </div>

  <div class="p-toolbar-group-right">
    <p-multiSelect 
      [options]="allAvailableColumns" 
      [ngModel]="currentlyVisibleColumns"
      (ngModelChange)="visibleColumnsChange.emit($event)"
      optionLabel="displayName" 
      placeholder="Select Columns" 
      selectedItemsLabel="{0} columns visible"
      styleClass="p-multiselect-sm"
      [filter]="true">
    </p-multiSelect>
    
    <button 
      pButton 
      type="button" 
      label="Reset" 
      icon="pi pi-replay" 
      class="p-button-text" 
      (click)="resetColumns.emit()"
      pTooltip="Reset columns to default">
    </button>
  </div>
</p-toolbar>